*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
body{
    background-color: #fff8ee;
    /* background: 
        radial-gradient(circle at 80% 20%, rgb(255, 255, 255) 0%, transparent 40%),
        radial-gradient(circle at 20% 80%, rgba(240, 184, 184, 0.925) 0%, transparent 45%),
        linear-gradient(135deg, #ffd4af 0%, #ffeed9 50%, #ffffff 100%); */
}
header{
    height: 70px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    
}
.username{
    height: 100%;
    width: 250px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    
}
.username .avatar {
    width: 40px;
    height: 40px;
    margin-left: 30px;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 50%;
}
.username .avatar:hover{
    cursor: pointer;
}
.username pre {
    font-size: 23px;
    font-weight: 600;
}
.username div{
    font-size: 23px;
    font-weight: 600;
}
.profile-panel{
    position: fixed;
    top:0;
    left:-290px;
    width:250px;
    height:100%;
    background:white;
    box-shadow:2px 0px 10px rgba(0,0,0,0.2);
    padding:20px;
    transition:0.3s;
    text-align: center;
}
.profile-panel p{
    font-size: 40px;
}
.avatar-big{
    width:100px;
    height:100px;
    border-radius:50%;
    display:block;
    margin:2px auto;
    border: 6px solid rgb(176, 176, 176);
}
.avatar-select{
    display:none;
    margin-top:10px;
}

.avatar-select img{
    width:40px;
    height:40px;
    border-radius:50%;
    margin:5px;
    cursor:pointer;
    
}
.profile-panel button{
    margin-top: 10px;
}
.profile-panel a{
    height: 40px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
   align-items: center;
   text-decoration: none;
   color: black;
}
.profile-panel a:hover{
    cursor: pointer;
    background-color: #9c9c9c;
}


.profile-panel.active{
    z-index: 3;
    left:0;
}

.nav{
    height: 100%;
    width: 900px;
    position: relative;
    left: -70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.nav::after {
    content: "";
    position: absolute;
    bottom: 13px;
    left: 430px;
    width: 60%;
    height: 40px;
    
    background: linear-gradient(
        to right,
        rgba(255,255,255,0) 0%,
        rgba(255,255,255,0.6) 50%,
        rgba(255,255,255,0) 100%
        );
        
        pointer-events: none;
        z-index: 1;
    }
    .nav div{
        height: 100%;
        width: 100px;
        text-align: center;
        display: flex;
        align-items: center;
        font-weight: 600;
    }
    .nav input{
        height: 60%;
        width: 400px;
        position: relative;
        top: 15px;
        right: 30px;
        border-radius: 25px;
        border: none;
        background-color: #ffffff;
        box-shadow: 0px 0px 300px rgba(100, 99, 99, 0.5);
        text-align: left;
        padding-left: 20px; 
        outline: none;

}
.nav input::placeholder{
    font-size: 17px;

}

.nav a{
    text-decoration: none;
    color: black;
    z-index: 2;    
}
.nav .cart{
    color: green;
}
.nav div:hover{
    cursor: pointer;
    text-decoration: underline;
}
.cart{
    height: 40px;
    width: 47px;
    font-size: 25px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    z-index: 2;
  
    
}
.cart a{
    color: rgb(0, 0, 0);
}
.cart .cart-count{
    height: 18px;
    width: 18px;
    border-radius: 50%;
    font-size: 14px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    background-color: red;
    position: relative;
    top: -11px;
    right: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    z-index: 3;
}
.nav .cart:hover{
    text-decoration: none;
}
.cart:hover{
    cursor: pointer;
    
}

/* main conternt  */

        .cart-container{
            width:70%;
            margin:50px auto;
             background: 
        radial-gradient(circle at 80% 20%, rgb(255, 255, 255) 0%, transparent 40%),
        radial-gradient(circle at 20% 80%, rgba(240, 222, 222, 0.925) 0%, transparent 45%),
        linear-gradient(135deg, #e8e8e8 0%, #ffeed9 50%, #ffffff 100%);
            padding:20px;
            border-radius:10px;
            box-shadow:0 0 10px rgba(0,0,0,0.1);
        }
        .cart-item{
            display:flex;
            align-items:center;
            justify-content:space-between;
            border-bottom:1px solid #ddd;
            padding:15px 0;
        }
        .cart-item img{
            width:80px;
            height:80px;
            border-radius:10px;
        }
        .item-info{
            flex:2;
            padding-left:20px;
        }
        .item-info button{
            padding: 1px;
            background-color: rgb(78, 184, 255);
            border-radius: 5px;
        }
        .item-info button:hover{
            cursor: pointer;
        }
        .remove-btn{
            background:red;
            color:white;
            border:none;
            padding:8px 12px;
            border-radius:5px;
            cursor:pointer;
        }
        .buy-btn{
            background:rgb(68, 129, 55);
            color:white;
            border:none;
            padding:8px 12px;
            border-radius:5px;
            cursor:pointer;
            margin-left: 10px;
        }
        .buy_all{
            background:rgb(68, 129, 55);
            color:white;
            border:none;
            padding:10px 25px;
            border-radius:5px;
            cursor:pointer;
            margin-left: 20px;
        }
        .total-box{
            text-align:right;
            font-size:20px;
            margin-top:20px;
            font-weight:bold;
        }
    