*{
    font-family: Arial, Helvetica, sans-serif;
}
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    background-image: url("../image/login.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header{
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
}

.name_cuntry{
    height: 100%;
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}
.name_cuntry div{
    height: 90%;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 20px;
}

/* main */
main{
    height: 70%;
    width: 100%;  
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
/* ::content */


.content{
    height: 400px;
    width: 420px;
    position: relative;
    left: 0;
    transition: left 0.5s ease;
}
.move-right{
    left: 300px;
}
.content #top_line i{
    font-family: cursive;
    font-size: 36px;
    font-weight: 600;
    
}

.content #CuisineCraft{
    display: inline;
    background: rgb(244, 92, 92);
    font-size: 60px;
    font-weight: 900;
}

.content #food{
    font-family: cursive;
    display: inline;
    background: rgb(216, 216, 73);
    font-size: 50px;
    font-weight: 900;
    position: relative;
    top: 10px;
}
.content #discribe_line{
    position: relative;
    top: 24px;
    font-size: 15px;
}
.content button{
    position: relative;
    top: 50px;
    height: 50px;
    width: 180px;
    border: none;
    background: black;
    color: white;
    font-size: 17px;
    border-radius: 23px;
    cursor: pointer;
}
.content button:hover{
    transform: scale(1.1);
}
.content button i{
    color: white;
}


/* mage stype */


.img{

    height: 400px;
    width: 400px;
    border-radius: 60px;
    box-shadow: 0px 0px 10px black;
    background: rgb(154, 140, 241);
    display: flex;
    justify-content: center;
    align-items: center;
}
.img #inner{
    height: 90%;
    width: 90%;
    background-image: url("../image/show.jpg");
    box-shadow: 0px 0px 10px black;
    border-radius: 50px;
    transform: rotate(6deg);
}

@media (max-width:800px) {
        .img{
            display: none;
        }
}

/* footer  */
footer{
    width: 100%;
    
    height: 100px;
}