*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
}
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    background-image: url("../image/login.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header{
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
}

.name_cuntry{
    height: 100%;
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}
.name_cuntry div{
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border: 1px dotted;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(20px);
    border-radius: 5px;
    margin: 10px 5px 0 5px;

}

/* main */
main{
    height: 70%;
    width: 75%;  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/* ::content */


.content{
    height: 400px;
    width: 420px;
    position: relative;
    left: 0;
    transition: left 0.5s ease;
}

    /* div move */
.move-right{
    left: 550px;

}

.content #top_line i{
    font-family: cursive;
    font-size: 36px;
    font-weight: 600;
    
}

.content #CuisineCraft{
    display: inline;
    background: rgb(244, 92, 92);
    font-size: 60px;
    font-weight: 900;
}

.content #food{
    font-family: cursive;
    display: inline;
    background: rgb(216, 216, 73);
    font-size: 50px;
    font-weight: 900;
    position: relative;
    top: 10px;
}
.content #discribe_line{
    position: relative;
    top: 24px;
    font-size: 15px;
}
.btn{
    position: relative;
    top: 50px;
    height: 50px;
    width: 180px;
    border: none;
    background: black;
    color: white;
    font-size: 17px;
    border-radius: 23px;
    cursor: pointer;
    transition: all 0.6s ease;
}
.content button:hover{
    transform: scale(1.1);
}
.content button i{
    color: white;
}

/* change btn */

.change_btn{
    width: 50px;
    margin-left: 150px;
    transform: scale(1.2);
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid black;
    color: black;
}


/* hide login namge registo div */
.login_register{
    height: 100%;
    width: 400px;
    display: none;

}

/* show regiter  */
.register_loginBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    left: -400px;
}
.login_register #buttons_div{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.login_register #buttons_div button{
    height: 40px;
    width: 150px;
    border: none;
    border-radius: 20px;
    margin: 0 4px 0 4px;
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    border: 1px solid black;
    
}
.login_register #buttons_div #register_b{
    background-color: rgba(10, 123, 216, 0.941);
}

/* register */

.login_register #register{
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}



.login_register #register input{
    height: 30px;
    width: 300px;
    border-radius: 10px;
    border: 1px solid black;
    background: transparent;
    font-size: 15px;
}
.login_register #register input::placeholder{
    padding: 10px;
}


/* login */

.login_register #login{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    display: none;
}


.login_register #login input{
    height: 40px;
    width: 300px;
    border-radius: 10px;
    border: 1px solid black;
    background: transparent;
    font-size: 15px;
}

/* submint button */

.login_register button{
    height: 40px;
    width: 130px;
    border-radius: 20px;
    background: rgba(10, 123, 216, 0.941);
    border: none;
    cursor: pointer;
    font-size: 20px;
    
}

.login_register button:active{
    transform: scale(1.1);
}
/* mage stype */


.img{
    
    height: 400px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;


    
    opacity: 1;
    transform: scale(1);
    transition: 
    opacity 0.6s ease,
    transform 0.6s ease;
}
/* image hide */
.hide{
    opacity: 0;
    transform: scale(0.8);
    pointer-events: none;
}

.img #inner{
    height: 90%;
    width: 90%;
    background-image: url("../image/show.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    box-shadow: 0px 0px 10px black;
    border-radius: 50px;
    transform: rotate(6deg);
}

@media (max-width:800px) {
    .img{
        display: none;
    }

}


/* footer  */
footer{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
footer div{
    height: 100%;
    width: 100px;
    background: rgb(255, 249, 227);
    margin: 0 60px 15px 60px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;
    font-weight: 700;
}
#off{
    color: brown;
}


/* responsive  */

@media (max-width: 1024px) {

    main{
        width: 95%;
        gap: 20px;
    }

    .content{
        max-width: 380px;
    }

    .img{
        width: 350px;
        height: 350px;
    }
}


@media (max-width: 800px) {

    main{
        flex-direction: column;
        align-items: center;
    }

    header{
        height: auto;
    }

    .name_cuntry{
        width: 100%;
    }

    .content{
        width: 100%;
        text-align: center;
    }

    .move-right{
        left: 0; 
    }

    .img{
        display: none;
    }

    footer{
        flex-direction: row;
        flex-wrap: wrap;
    }
}

@media (max-width: 480px) {

    .content #CuisineCraft{
        font-size: 38px;
    }

    .content #food{
        font-size: 32px;
    }

    .btn{
        width: 150px;
        font-size: 14px;
    }

    footer div{
        width: 80px;
        height: 70px;
    }
}