*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
body{
    background: #FFF1E1;
}
header{
    height: 70px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #f6efe8;
    box-shadow: 0px 0px 10px black;
}
.username{
    height: 100%;
    width: 250px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}
.username i {
    font-size: 23px;
    font-weight: 600;
    margin-left: 30px;
}
.username pre {
    font-size: 23px;
    font-weight: 600;
}
.username div{
    font-size: 23px;
    font-weight: 600;
}

.nav{
    height: 100%;
    width: 500px;
    position: relative;
    left: -70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
.nav div{
    height: 100%;
    width: 100px;
    text-align: center;
    display: flex;
    align-items: center;
    font-weight: 600;
     color: black;
}
.nav a{
    text-decoration: none;
}
.nav #home{
    color: green;
}
.nav div:hover{
    cursor: pointer;
    text-decoration: underline;
}
.cart{
    height: 33px;
    width: 35px;
    font-size: 30px;
    font-weight: 500;
    position: relative;
    top: 13px;
    right: 70px;
    
}
.cart:hover{
    cursor: pointer;

}
.cart pre{
    font-size: 20px;
    position: relative;
    left: 33px;
    top: -30px;
   

}

/* //main content */

.slide{
    height: 470px;
    width: 95%;
    margin: 10px 10px 10px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.slide #slide1{
    height: 95%;
    width: 95%;
    border-radius: 25px;
}

.slide #slide1 #img1{
    
    height: 430px;
    width: 430px;
    background-image: url("../image/main_landscap.png");
    background-size: contain;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-top: 10px;
}
/* lemon */
.slide #slide1 #img1 #lemon{
    height: 200px;
    width: 200px;
    position: relative;
    top: 220px;
    right: 100px;
    z-index: -2;
    background-image: url("../image/lemon.png");
    background-size: contain;
  background-repeat: no-repeat;
}
.slide #slide1 #img1 #cerrot{
    height: 200px;
    width: 200px;
    position: relative;
    top: -160px;
    right: 120px;
    z-index: -2;
    background-image: url("../image/cerrot.png");
    background-size: contain;
  background-repeat: no-repeat;
}
    /* blur bar */
.slide #slide1 #img1 #blur_text{
    border-radius: 10px;
    height: 140px;
    width: 270px;
    position: relative;
    top: -120px;
    right: 200px;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
#blur_text #text1,#text2{
    height: 70px;
    width: 100%;
    /* border: 2px solid red; */
}
#blur_text i{
    font-size: 27px;
    margin-top: 20px;
    margin-left: 10px;
}
#blur_text pre{
    display: inline-block;
    position: relative;
    top: -14px;
    left: 3px;
    font-weight: 600;
    font-size: 17px;
    /* border: 2px solid green; */
}
#blur_text p{
    font-size: 15px;
    /* border: 2px solid blue; */
    position: relative;
    right: -49px;
    top: -40px;
}




/* big text */
.slide #slide1 #conter_slide1{
    height: 250px;
    width: 550px;
    position: relative;
    top: -390px;
    margin-left: 40px;
}

.slide #slide1 #conter_slide1 pre,p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 70px;
    font-weight: 500;
    line-height: 70px;
    display: inline-block;
    
}
.slide #slide1 #conter_slide1 #red_text{
    color: rgb(159, 30, 30);
    margin: 0 5px 0 10px;
}
.slide #slide1 #conter_slide1 #yellow_text{
    color: #F9A946;
    margin: 0 5px 0 5px;

}

#discover_text{
    position: relative;
    top: -410px;
    left: 50px;
    display: inline;
}
#discover_btn{
    height: 40px;
    width: 160px;
    border: none;
    border-radius: 20px;
    background-color: #a33230;
    font-size: 17px;
    color: white;
    position: relative;
    top: -360px;
    left: -110px;
    cursor: pointer;
}
#discover_btn:hover{
    transform: scale(1.1);
}
/* three div */

.threeDiv{
    height: 220px;
    width: 1100px;
    position: relative;
    left: 90px;
    border-radius: 25px;
    background-color: white;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(100, 99, 99, 0.5);
    
}

.threeDiv #box1,#box2,#box3{
    height: 150px;
    width: 120px;
    border-radius: 10px;
    margin: 40px 30px 0 30px;
    color: white;
}
.threeDiv #box1{
    background-color: #EB7B79;
}
.threeDiv #imgC{
    height: 110px;
    width: 110px;

    background-image: url("../image/main_landscap.png");
    background-repeat: no-repeat;
    background-size: contain;
    filter: drop-shadow(0px 0px 5px black);
    position: relative;
    top: -50px;
    left: 6px;
}
.threeDiv #text_p{
    position: relative;
    font-size: 20px;
    font-weight: 600;
    top: -40px;
    left: 10px;
}
.threeDiv #price{
    position: relative;
    font-size: 16px;
    top: -37px;
    left: 10px;
}
.threeDiv button{
    height: 25px;
    width: 80px;
    position: relative;
    font-size: 16px;
    top: -33px;
    left: 10px;
    border: none;
    border-radius: 10px;
}
.threeDiv #box2{
    background-color: #F17D35;
}
.threeDiv #box3{
    background-color: #5FC943;
}


.what_you_get{
    height: 500px;
    width: 800px;
    z-index: 3;
    position: absolute;
    top: 60px;
    left: 200px;

    background-image: url("../image/what_you_get.png");
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(8px);

    display: flex;
    justify-content: center;
    align-items: center;

    /* animation logic */
    opacity: 0;
    transform: scale(1);
    pointer-events: none;

    transition: 
        opacity 0.35s ease,
        transform 0.35s ease;
        border: 1px solid rgb(0, 0, 0);
}

/* active state */
.what_you_get.active{
    opacity: 1;
    transform: scale(1.1);
    pointer-events: auto;
}



.what_you_get pre{
    height: 90%;
    width: 97%;
    position: relative;
    top: -20px;
}
.what_you_get #Close_btn{
    height: 30px;
    width: 30px;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    border: none;
    font-size: 20px;
    position:  relative;
    left: 720px;
    top: -25px;
    cursor: pointer;

}

/* product list */

    h1{
        font-size: 30px;
        margin: 0px 0 -60px 30px;
        position: relative;
        top: 30px;
        
    }
.pro_list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
    top: 60px;
    position: relative;
    top: 90px;
        
    
}
.pro_list .item{
    height: 360px;
    width: 350px;
    margin: 30px 0 20px 0;
    transition: all 0.3s ease;
}

.pro_list div #imgs{
    height: 73%;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    /* left: 22px; */
    border-radius: 20px;
    overflow: hidden;
    box-shadow: inset 0px -40px 50px black;
    background-repeat: no-repeat;
    background-size: cover;
    
}
        /* //images  */
.pro_list .imgs1{
background-image: url("../image/indian/Paneer\ Butter\ Masala\ Recipe\ Ever!.jpg");  
}
.pro_list .imgs2{
    background-image: url("../image/japneses/Okonomiyaki\ .jpg");
    background-position-y: -50px;
}
.pro_list .imgs3{
    background-image: url("../image/korean/kimchi.jpg");
    background-position-y: -50px;
}
.pro_list .imgs4{
    background-image: url("../image/indian/pizza.jpg");
    background-position-y: -50px;
}
.pro_list .imgs5{
    background-image: url("../image/indian/Subway\ Sandwiches\,\ According\ to\ Dietitians.jpg");
    background-position-x: -20px;
}
.pro_list .imgs6{
    background-image: url("../image/japneses/Takoyaki.jpg");
    background-position-y: -60px;
    
}
.pro_list .imgs7{
    background-image: url("../image/japneses/tonkatsu.jpg");
}
.pro_list .imgs8{
    background-image: url("../image/korean/Kimbap.jpg");
    background-position-y: -60px;   
}
.pro_list .imgs9{
    background-image: url("../image/korean/ùóïùó∂ùóØùó∂ùó∫ùóØùóÆùóΩ\ \(ùóûùóºùóøùó≤ùóÆùóª\ ùó†ùó∂ùòÖùó≤ùó±\ ùó•ùó∂ùó∞ùó≤\ ùóïùóºùòÑùóπ\).jpg");
    background-position-y: -20px;   
   
}

.pro_list #text{
    height: 120px;
    width: 85%;
    position: relative;
    top: -37px;
    left: 10px;
}
.pro_list h2{
    color: white;
}
.pro_list h3{
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 5px;
    margin-left: 3px;
}
.pro_list i{
    color: #24a500;
}
        /* cart butno */
.to_cart_btn{
    height: 40px;
    width: 120px;
    position: relative;
    top: -30px;
    border-radius: 20px;
    border: none;
    background-color: #5FC943;
    font-size: 16px;
}

.to_cart_btn:hover{
    cursor: pointer;
}
.to_cart_btn:active{
    transform: scale(0.9);
    background-color: #24a500;
}


/* footer */
footer{
    height: 350px;
    width: 100%;
    position: relative;
    top: 130px;
    background-color: rgb(5, 5, 5);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #f6efe8;
}

footer #box{
    height: 100%;
    width: 200px;
    display: grid;
    grid-row: 1;
}
footer h3{

    height: 20px;
    font-weight: 300;
    text-align: center;
    margin: 30px 0 0 0;
}
footer pre{
    height: 40px;
    width: 96%;
    text-align: center;


}
footer #social_link{
    height: 200px;
    width: 90%;
}
footer h2{
    font-weight: 300;
    font-size: 20px;
    text-align: center;
}

footer i{
    font-size: 28px;
    margin :10px 0 0 20px;
    color: white;
}


/* medial qury */
@media (max-width: 1024px){

    .nav{
        width: 400px;
        left: 0;
    }

    .threeDiv{
        width: 95%;
        left: 0;
    }

    .what_you_get{
        width: 90%;
        left: 5%;
    }

    .slide{
        height: auto;
    }
}

/* Tablets & mobiles */
@media (max-width: 768px){

    header{
        flex-wrap: wrap;
        height: auto;
        padding: 10px 0;
    }

    .nav{
        width: 100%;
        justify-content: space-around;
        left: 0;
    }

    .cart{
        right: 20px;
    }

    .slide{
        margin: 10px;
    }

    .slide #slide1 #img1{
        margin: auto;
    }

    .slide #slide1 #conter_slide1{
        width: 100%;
        margin-left: 0;
        text-align: center;
        top: -300px;
    }

    #discover_text,
    #discover_btn{
        left: 0;
        text-align: center;
    }

    .threeDiv{
        flex-wrap: wrap;
        height: auto;
        padding-bottom: 20px;
    }

    .what_you_get{
        height: auto;
        top: 100px;
    }

    footer{
        flex-wrap: wrap;
        height: auto;
        padding: 20px 0;
    }
}

/* Small phones */
@media (max-width: 480px){

    .username{
        width: 100%;
        justify-content: center;
    }

    .nav div{
        width: auto;
        font-size: 14px;
    }

    .slide #slide1 #conter_slide1 pre,
    .slide #slide1 #conter_slide1 p{
        font-size: 40px;
        line-height: 45px;
    }

    .pro_list .item{
        width: 90%;
    }

    footer #box{
        width: 100%;
        text-align: center;
    }
}