*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
body{
    background-color: #f1efef;
    /* background: 
        radial-gradient(circle at 80% 20%, rgb(255, 255, 255) 0%, transparent 40%),
        radial-gradient(circle at 20% 80%, rgba(240, 184, 184, 0.925) 0%, transparent 45%),
        linear-gradient(135deg, #ffd4af 0%, #ffeed9 50%, #ffffff 100%); */
}
header{
    height: 70px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    
}
.username{
    height: 100%;
    width: 250px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    
}
.username .avatar {
    width: 40px;
    height: 40px;
    margin-left: 30px;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 50%;
}
.username .avatar:hover{
    cursor: pointer;
}
.username pre {
    font-size: 23px;
    font-weight: 600;
}
.username div{
    font-size: 23px;
    font-weight: 600;
}
.profile-panel{
    position: fixed;
    top:0;
    left:-290px;
    width:250px;
    height:100%;
    background:white;
    box-shadow:2px 0px 10px rgba(0,0,0,0.2);
    padding:20px;
    transition:0.3s;
    text-align: center;
}
.profile-panel p{
    font-size: 40px;
}
.avatar-big{
    width:100px;
    height:100px;
    border-radius:50%;
    display:block;
    margin:2px auto;
    border: 6px solid rgb(176, 176, 176);
}
.avatar-select{
    display:none;
    margin-top:10px;
}

.avatar-select img{
    width:40px;
    height:40px;
    border-radius:50%;
    margin:5px;
    cursor:pointer;
    
}
.profile-panel button{
    margin-top: 10px;
}
.profile-panel a{
    height: 40px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
   align-items: center;
   text-decoration: none;
   color: black;
}
.profile-panel a:hover{
    cursor: pointer;
    background-color: #9c9c9c;
}


.profile-panel.active{
    z-index: 3;
    left:0;
}
.nav{
    height: 100%;
    width: 900px;
    position: relative;
    left: -70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.nav::after {
    content: "";
    position: absolute;
    bottom: 13px;
    left: 430px;
    width: 60%;
    height: 40px;
    
    background: linear-gradient(
        to right,
        rgba(255,255,255,0) 0%,
        rgba(255,255,255,0.6) 50%,
        rgba(255,255,255,0) 100%
        );
        
        pointer-events: none;
        z-index: 1;
    }
    .nav div{
        height: 100%;
        width: 100px;
        text-align: center;
        display: flex;
        align-items: center;
        font-weight: 600;
    }
    .nav input{
        height: 60%;
        width: 400px;
        position: relative;
        top: 15px;
        right: 30px;
        border-radius: 25px;
        border: none;
        background-color: #ffffff;
        box-shadow: 0px 0px 300px rgba(100, 99, 99, 0.5);
        text-align: left;
    padding-left: 20px; 
    outline: none;

}
.nav input::placeholder{
    font-size: 17px;

}

.nav a{
    text-decoration: none;
    color: black;
    z-index: 2;    
}
.nav #myoder{
    color: green;
}
.nav div:hover{
    cursor: pointer;
    text-decoration: underline;
}
.cart{
    height: 40px;
    width: 40px;
    font-size: 25px;
    font-weight: 500;
    position: relative;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    z-index: 2;
}
.cart .cart-count{
    height: 18px;
    width: 18px;
    border-radius: 50%;
    font-size: 14px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    background-color: red;
    position: relative;
    top: -11px;
    right: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    z-index: 3;
}
.nav .cart:hover{
    text-decoration: none;
}
.cart a{
    color: rgb(0, 0, 0);

}
.cart:hover{
    cursor: pointer;
    
}

/* my order  */

.order-card {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: #f9f9f9;
}
.order-card img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 5px;
}
.order-details h3 {
    margin: 0 0 5px 0;
    font-size: 16px;
}
.order-details p {
    margin: 2px 0;
    font-size: 14px;
}

/* traking order ui  */
.track-container{
    display:flex;
    justify-content:space-between;
    position:relative;
    margin-top:20px;
    left: 50px;
    width: 420px;
    font-size: 14px;
}

.track-container::before{
    content:"";
    position:absolute;
    top:9px;
    left:0;
    width:100%;
    height:4px;
    background:#ccc;
    z-index:1;
}

.progress-line{
    position:absolute;
    top:9px;
    left:0;
    height:4px;
    background:green;
    width:0;
    z-index:2;
}

.step{
text-align:center;
z-index:3;
}

.dot{
width:20px;
height:20px;
background:#ccc;
border-radius:50%;
}

.step.active .dot{
background:green;
}

.payment-box {
    width: 100px;
    height: 100px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-left: 70px;
    padding:0 20px 0 20px;
}

.payment-text {
    font-size: 10px;
    color: #000000;
    text-align: center;
    font-size: 16px;
}

.payment-price {
    font-size: 18px;
    font-weight: bold;
    margin-top: 5px;
}

.state-box {
    background-color: white;
    width: 100px;
    height: 100px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    text-align: center;
}

/* On the Way */
.way {
    background: transparent;
    color: green;
    padding: 0 10px 0 10px;
}

/*  Delivered */
.delivered {
    background: transparent;
    color: gray;
    padding: 0 10px 0 10px;
}

/*  Cancelled */
.cancel {
    background: transparent;
    color: red;
    padding: 0 10px 0 10px;
}
.report-box {
    width: 100%;
    height: 100px;
    background: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    gap: 10px;
    padding: 10px;
}

.report-box input {
    width: 70%;
    height: 40px;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
}

.report-box button {
    height: 40px;
    padding: 0 20px;
    background: #28a745;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.report-box button:hover {
    background: #218838;
}